<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="hello" class="be.manager.model.Hello">
		<property name="name" value="tarek" />
	</bean>
	
	<bean id="userService" class="be.service.serviceImp.UserServiceImp"  init-method="init">
		<property name="userManager" ref ="userManagerBean"/>
	</bean>
	
	<bean id="userManagerBean" class="be.manager.managerImp.UserManagerImp">
	</bean>
</beans>
 